#### 1. Return Function

In [33]:
def maxfunct(a,b):
    if a > b:
        return a
    else:
        return b
a = int(input("Enter a number 1:"))
b = int(input("Enter a number 2:"))
if a!=b:
    print("Max of",a,"and",b,"is",maxfunct(a,b))

Enter a number 1:3
Enter a number 2:5
Max of 3 and 5 is 5

#### 2. One liner of sum of 2 numbers

In [11]:
print('To miles is %.1f' % ((float(input("Enter km: ")) * 0.621371)))

Enter km: 32
To miles is 19.9

#### 3. Square root

In [3]:
num = int(input("Enter a number : "))
sqrt = num**0.5
print("Square root of",num,"is :",sqrt)

Enter a number : -16
Square root of -16 is : (2.4492935982947064e-16+4j)

#### 4. Area of Triangle

In [8]:
a = int(input("Enter first side : "))
b = int(input("Enter second side : "))
c = int(input("Enter third side : "))
s = (a+b+c)/2
area = (s*(s-a)*(s-b)*(s-c))**0.5
print("Area of triangle is :",area)

Enter first side : -5
Enter second side : -9
Enter third side : 10
Area of triangle is : 22.44994432064365

#### 5. Swapping of 2 numbers

In [12]:
a = int(input("Enter first Number : "))
b = int(input("Enter second Number : "))
print("Before swapping a :",a,"and b :",b)
a,b = b,a
print("After swapping a :",a,"and b :",b)

Enter first Number : 6
Enter second Number : 9
Before swapping a : 6 and b : 9
After swapping a : 9 and b : 6

#### 6. Random Number Generation

In [13]:
from random import randint
print(randint(0,9))

8

#### 7. Convert km to miles

In [14]:
km = int(input("Enter kilometer :"))
print(km,"to miles is :",km*0.621371)

Enter kilometer :100
100 to miles is : 62.137100000000004

#### 8. Convert km to miles in one liner

In [15]:
print("To miles is %.1f"%(int(input("Enter km :"))*0.621371))

Enter km :100
To miles is 62.1

#### 9. Check if number is +tive, -tive or zero.

In [16]:
a = int(input("Enter a number :"))

if a > 0:
    print(a,"is +tive")
elif a == 0:
    print(a,"is zero")
else:
    print(a,"is -tive")

Enter a number :0
0 is zero

#### 10. Check if number is +tive, -tive or 0 with nested-if statements

In [22]:
a = int(input("Enter a number :"))

if a != 0:
    if a > 0:
        print(a,"is +tive")
    else:
        print(a,"is -tive")
else:
    print(a,"is zero")

Enter a number :0
0 is zero

#### 11. Odd or even

In [23]:
a = int(input("Enter a number :"))
if a % 2 == 0:
    print("Even")
else:
    print("False")

Enter a number :8
Even

#### 12. Largest of 3 number

In [26]:
a = int(input("Enter a number 1 :"))
b = int(input("Enter a number 2 :"))
c = int(input("Enter a number 3 :"))

if a > b and a > c:
    print(a,"is largest")
elif b > a and b > c:
    print(b,"is largest")
else:
    print(c,"is largest")

Enter a number 1 :9
Enter a number 2 :8
Enter a number 3 :0
9 is largest

#### 13. factorial

In [34]:
def fact(a):
    f = 1
    for i in range(1,a+1):
        f = f*i
    return f

a = int(input("Enter number to find factrial of :"))
if a>0:
    print("Factorial of",a,"is :",fact(a))
else:
    print("NOT POSSIBLE !!!")

Enter number to find factrial of :5
Factorial of 5 is : 120

#### 14. Display powers of 2 using anonymous function

In [57]:
n = int(input("Enter number of terms:"))
result = list(map(lambda x: 2**x,range(n)))
print("Total terms:",n)
for i in range(n):
    print("2 is to power",i,"is",result[i])

Enter number of terms:5
Total terms: 5
2 is to power 0 is 1
2 is to power 1 is 2
2 is to power 2 is 4
2 is to power 3 is 8
2 is to power 4 is 16

#### 15. Numbers divisible by other numbers

In [52]:
lst = [12,34,556,78,7,34,99]
result = list(filter(lambda x :(x%2==0),lst))
print("Number divisible by 2 is :",result)

Number divisible by 2 is : [12, 34, 556, 78, 34]

#### 16. Convert decimal to other number systems

In [58]:
a = int(input("Enter a number :"))
print("Decimal is :",a)
print(bin(a),"in binary")
print(oct(a),"in octal")
print(hex(a),"in hexadecimal")

Enter a number :69
Decimal is : 69
0b1000101 in binary
0o105 in octal
0x45 in hexadecimal

#### 17. Multiplication table

In [61]:
num = int(input("Table of :"))
for i in range(1,11):
    print(num,"X",i,"is",num*i)

Table of :69
69 X 1 is 69
69 X 2 is 138
69 X 3 is 207
69 X 4 is 276
69 X 5 is 345
69 X 6 is 414
69 X 7 is 483
69 X 8 is 552
69 X 9 is 621
69 X 10 is 690

#### 18. Display calender

In [62]:
import calendar
y = int(input("Enter Year : "))
m = int(input("Enter Month :"))
print(calendar.month(y,m))

Enter Year : 2002
Enter Month :11
   November 2002
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30

#### 19. Palindrome or not

In [66]:
string = input('Enter any string :')
string = string.lower()
if string == string[::-1]:
    print(string,"is palindrome")
else:
    print(string,"is not palindrome")

Enter any string :DHeeraj
dheeraj is not palindrome

#### 20. Punctuation Removal

In [68]:
def remove_punctuation(input_string):
    punctuation_chars = "!\"#$%&'()*+,-./:;<=>?@[\\]^_`{|}~"
    cleaned_string = ""
    for char in input_string:
        if char not in punctuation_chars:
            cleaned_string += char

    return cleaned_string

input_string = "Hello, World! This is an example string with some punctuation."
cleaned_string = remove_punctuation(input_string)
print(cleaned_string)

Hello World This is an example string with some punctuation